<%= turbo_frame_tag "bill" do %>
  <%= link_to "Bill", show_bill_order_path(order, format: :pdf), target: "_blank", class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium my-5" if order.bill.present? %>
  <% if !order.bill.present?  %>
    <%= form_with(url: create_bill_order_path(order), method: "GET", data: { turbo_frame: "bill" }) do |form| %>
      <div class="input-group mb-3">
        <button class="ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium my-5" type="submit">Generate Bill</button>
      </div>
    <% end %>
  <% end %>
<% end %>